doctype html
html
  head
    title MWF - Welcome
    link(rel="stylesheet", href="/css/landingPage.css")
  body.landing
    .split-left
      .overlay
        .content
          img(src="/images/mwflogo.png", alt="MWF Logo")
          h1 Mayondo Wood & Furniture Ltd
          p#rotatingText Delivering quality wood and furniture solutions...
          a.btn-get-started(href="/login") Get Started →
    
    script(src="/js/landing.js")
