doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MWF | Login
    link(rel="stylesheet" href="../css/login.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")

  body
    .login-container
      .login-left
        .welcome-text
          h1 Hello!
          p Have a GOOD DAY
      .login-right
        .login-form
          h2 Login
          form#loginForm(action="/login" method="POST")
            .input-group
              input(type="email" name="email" id="email" placeholder="Email" required)
            .input-group
              input(type="password" name="password" id="password" placeholder="Password" required)
            button.btn(type="submit") Login
          p.forgot-password
            a(href="forgot-password.html") Forgot your password?
          .divider
            span OR
          .social-login
            button.social-btn.google(type="button")
              i.fab.fa-google
              |  Continue with Google
            button.social-btn.github(type="button")
              i.fab.fa-github
              |  Continue with GitHub
            button.social-btn.linkedin(type="button")
              i.fab.fa-linkedin
              |  Continue with LinkedIn
          p.signup-link
            | Don’t have an account? 
            a(href="/register-user") Register
    //- script(src="../js/login.js")
