doctype html
html
  head
    title MWF - Login
    link(rel="stylesheet", href="/css/login.css")
  body.login-page
    .login-container
      .login-card
        h2 MWF Staff Login
        p Please enter your credentials to continue.
        form(action="/login" method="POST" autocomplete="")
          .mb-3
            label.form-label(for="username") Email
            input#username.form-control(type="email" name="email" placeholder="Enter Your Email" required)

          .mb-3
            label.form-label(for="password") Password
            input#password.form-control(type="password" name="password" placeholder="Enter Your Password" required)

          .mb-4
            button.btn-login(type="submit") Login

        p.forgot-password Forgot your password? 
          span.text-danger Contact your manager.

        .links
          a(href="/") ← Back to Home
