body {
  background: linear-gradient(#c23c95ff, #d13c61ff, #522828ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  width: 450px;
  border-radius: 15px;
  background-color: rgba(145, 69, 122, 1) ;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.form-label {
  font-weight: 600;
  
}
.form-control{
    background-color: rgb(217, 157, 223);
}

/* Navbar Styling */
.navbar {
  background: #2c3e50;
  color: #fff;
  padding: 0.8rem 2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .brand a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-toggle {
  display: none;
  font-size: 1.6rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f39c12;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    background: #34495e;
    padding: 1rem;
    border-radius: 8px;
  }

  .nav-links.active {
    display: flex;
  }
}
